:root {
    --white: #ffffff;
    --primary: #29756f;
    --secondary: linear-gradient(180deg, #549994 0%, #408782 100%);
    --dark_blue: #0a1020;
    --grey: #141a29;
    --light_grey: #636a7d;
    --purple: #b6c6ff;
}
